.feature-container {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
    max-width: 700px;
    margin-inline: auto;
}

.feature-title {
    font-size: 20px;
    color: #000;
    text-align: center;
}

.feature-img {
    width: 388px;
    height: 250px;
}

.feature-sub-title {
    text-decoration: underline;
    color: #000;
    font-weight: 500;
}

.feature-description {
    font-size: 14px;
    color: #404040;
    margin-top: 8px;
}

@media only screen and (max-width: 768px) {
    .feature-img {
        display: none;
    }
}